---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div class="page-content">
    <div class="wrapper">
      <div class="home" style="text-align: justify">
        <p><img src="bristy.jpg" width="280" alt="image" align="left" style="border-radius:8px;padding-right:25px" /></p>
        I am an undergraduate student in the <a href="cse.buet.ac.bd">Computer Science and Engineering Department</a>, at <a href="buet.ac.bd">Bangladesh University of Engineering and Technology</a>.
        <br><br>
        My research interests involve Bioinformatics, Computational biology, Algorithms and Machine Learning.
        <br><br>
        Currently, I am working under the supervision of <a href="https://cse.buet.ac.bd/faculty/facdetail.php?id=bayzid">Dr. Md. Shamsuzzoha Bayzid</a> on different algorithmic approaches to infer phylogenies more accurately.
        <br><br>
        
      </div>
    </div>
  </div>
</div>


