---
layout: default
---

<div class="publications">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

<div class="page-content">
  <div class="wrapper">
    <h2 style="border-bottom:1px solid #CCC;padding-bottom:3px;">Journal Publications</h2>
    <ol reversed>
      <li>
        Nazifa Ahmed Moumi, Badhan Das, Zarin Tasnim Promi, Nishat Anjum Bristy, and Md. Shamsuzzoha Bayzid, <a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0221270">Quartet-based inference of cell differentiation trees from ChIP-Seq histone modification data</a>, PLoS ONE, doi.org/10.1371/journal.pone.0221270, 2019.
      </li>    
    </ol> 
  </div>
  <div class="wrapper">
    <h2 style="border-bottom:1px solid #CCC;padding-bottom:3px;">Conference Publications</h2>
    <ol reversed>
       
    </ol> 
  </div>

</div>


