---
layout: default
---

<div class="research">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div class="wrapper">
    <h2 style="border-bottom:1px solid #CCC;padding-bottom:3px;">Research Interests</h2>
        <ul>
            <li>Bioinformatics</li>
            <li>Computational Biiology</li>
            <li>Algorithms</li>
            <li>Machine Learning</li>
        </ul>  
  </div>
  <div class="page-content">
    <div class="wrapper">
      <h2 style="border-bottom:1px solid #CCC;padding-bottom:3px;">Research Experiences</h2>
    
      <ul>
       
            <li>
                <div style="align:left"><b>May, 2021 - Present</b></div>
                <div style="align:right">Working under the supervision of Dr. Md. Shamsuzzoha Bayzid and Dr. Siavash Mirarab on-<br>
                    <ul><li> Accurate and hierarchical contamination detection using locality sensitive hashing.</li></ul>
                    </div>
            </li>
            <li>
                <div style="align:left"><b>December, 2019 - Present</b></div>
                <div style="align:right">Working under the supervision of Dr. Md. Shamsuzzoha Bayzid and Dr. Siavash Mirarab on-<br>
                    <ul><li>Alignment-free phylogenetic distance estimation under a no strand-bias model model.</li></ul>
                    </div>
            </li>
            <li>
                <div style="align:left"><b>May, 2019 - December, 2019</b>
                </div>
                <div style="align:right">
                    Working under the supervision of Dr. Md. Shamsuzzoha Bayzid on-<br>
                    <ul><li>Species tree estimation from Triplet and Quartet trees included in gene trees. </li></ul>
                </div>
            </li>
            <li>
                <div style="align:left"><b>2017-2019</b></div>
                <div style="align:right">Worked under the supervision of Dr. Md. Shamsuzzoha Bayzid on-<br>
                <ul><li><a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0221270">Quartet-based inference of cell differentiation trees from ChIP-Seq Histone modification data</a>.</li></ul>
                </div>
            </li>
            <li>
                <div style="align:left"><b>November, 2020 - January 2021</b></div>
                <div style="align:right">Working under the supervision of Dr. Atif Hasan Rahman on-<br>
                    <ul><li> An RNN based method for the classification of HIV-1 genomes.</li></ul>
                    </div>
            </li>
            <li>
                <div style="align:left"><b>May, 2021 - Present</b></div>
                <div style="align:right">Working under the supervision of Dr. Atif Hasan Rahman on-<br>
                    <ul><li> A deep learning based tool for sequence contamination detection.</li></ul>
                    </div>
            </li>
            <li>
                <div style="align:left"><b>May, 2020 - August, 2021</b></div>
                <div style="align:right">Working under the supervision of Dr. Tanzima Hashem on-<br>
                  <ul><li> Detecting malnutrition and dehydration from facial images, and </li>
                        <li> A survey on different smartphone image analysis techniques for disease detection</li></ul>
                    </div>
            </li>
        </ul>
        
        
      
    </div>
  </div>
</div>


