---
layout: default
---

<div class="research">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  <div class="page-content">
    <div class="wrapper">
        <ul>
            <li>
                <div style="align:left"><b>January, 2020 - Present</b></div>
                <div style="align:right">Working under the supervision of Dr. Md. Shamsuzzoha Bayzid on-<br>
                    <ul><li>Statistically consistent species tree estimation from alignment free genome-reads.</li></ul>
                    </div>
            </li>
            <li>
                <div style="align:left"><b>May, 2019 - December, 2019</b>
                </div>
                <div style="align:right">
                    Working under the supervision of Dr. Md. Shamsuzzoha Bayzid on-<br>
                    <ul><li>Species tree estimation from Triplet and Quartet trees included in gene trees. </li></ul>
                </div>
            </li>
            <li>
                <div style="align:left"><b>2017-2019</b></div>
                <div style="align:right">Worked under the supervision of Dr. Md. Shamsuzzoha Bayzid on-<br>
                <ul><li><a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0221270">Quartet-based inference of cell differentiation trees from ChIP-Seq Histone modification data</a>.</li></ul>
                </div>
            </li>
        </ul>
        
        
      
    </div>
  </div>
</div>


